<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:layout="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      xmlns="http://www.w3.org/1999/html"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>All Users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<div layout:fragment="content" class="container">

    <div style="float:right">
        <form th:action="@{/logout}" method="POST">
            <i class="fas fa-user-times ml-2"></i>
            <input type="submit" class="btn btn-primary" value="Logout"/>
        </form>
    </div>
    <div class="my-1" th:if="${switch.isUser()}">
        <a th:href="@{admin/theAdmin}" class="btn btn-primary"/>
        <i class="fas fa-user-plus ml-2">Switch to USER Role </i></a>
    </div>
    <div class="form-group col-md-7">

    </div>
    <div class="container my-5">
        <p class="my-5">
            <a href="form.html" th:href="@{/admin/form}" class="btn btn-primary">
                <i class="fas fa-user-plus ml-2"> Create User </i></a>
        </p>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Registration Data</th>
                <th>Role</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${users==null||users.isEmpty()}">
                <td colspan="4">No users</td>
            </tr>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td><a href="../registration.html" th:href="@{'/' + ${user.id}}" th:text="${user.email}"></a></td>
                <td th:text="${#calendars.format(user.created, 'dd-MM-yyyy HH:mm')}"></td>
                <td th:text="${user.getRolesString()}"></td>
                <td>
                    <a href="formUpdate.html" th:href="@{'admin/edit/' + ${user.id}}"
                       class="btn btn-primary">
                        <i class="fas fa-user-edit ml-2"></i>
                    </a>
                </td>
                <td>
                    <a th:href="@{'admin/delete/' + ${user.id}}"
                       class="btn btn-primary">
                        <i class="fas fa-user-times ml-2"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
